!!! 5
html
    head
        -if (apiInfo && apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else if (apiInfo && apiInfo.info && apiInfo.info.title)
            - var title = apiInfo.info.title + ' API Documentation'
        -else if (apiConfig && apiConfig.name)
            - var title = apiConfig.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='stylesheets/prettify.css')
        link(rel='stylesheet', href='stylesheets/style.css')

        link(type='text/css', href='stylesheets/jquery-ui-latest.custom.css', rel='stylesheet')
        link(type='text/css', href='stylesheets/alpaca.css')
        link(type='text/css', href='stylesheets/form.css', rel='stylesheet')
        link(type='text/css', href='stylesheets/alpaca-jqueryui.css', rel='stylesheet')
        -if (apiConfig && apiConfig.css)
          link(type='text/css', href='stylesheets/'+apiConfig.css, rel='stylesheet')

    body
        form.userload(method='post', action='/load')
          label(for='userLoadUrl') Load spec from URL (IO Docs v1/v2, Swagger v2, LiveDocs)
          input(name='userLoadUrl', id='userLoadUrl')
          input(type='submit', value='Load') Load

        block content
        div(id='io-footer')
           div(class='f-left') &copy;
              a(href='http://mashery.com/io') Mashery, Inc., and others
           div(class='f-right') Powered by&nbsp;
              a(href='https://github.com/MikeRalphson/iodocs') I/O Docs Community Fork
        script(type='text/javascript', src='javascripts/jquery-1.12.4.min.js')
        script(type='text/javascript', src='javascripts/jquery.tmpl.js')
        script(type='text/javascript', src='javascripts/jquery-ui-latest.custom.min.js')
        script(type='text/javascript', src='javascripts/alpaca.js')
        script(type='text/javascript', src='javascripts/form.js')
        script(src='javascripts/json2.js')
        script(src='javascripts/prettify.js')
        script(src='javascripts/utilities.js')
        script(src='javascripts/livedocs.js')
        script(src='javascripts/docs.js')
        script(src='javascripts/bookmarks.js')
        script(src='javascripts/statusCodes.js')
