extends layout
block content
  h1=title

  h2 Choose an API

  ul
     - for (var api in apiConfig)
       - if (apiConfig[api].name != 'remote')
           li: a(href = api) #{apiConfig[api].name}
  br
  h3 Or create your own...
    a(href="https://mikeralphson.github.io/iodoctor/") with IO Doctor
